#slide-show {
  background-color: #ffcca5;
  display: flex;
  gap: 20px;
  width: 100%;
  overflow: hidden;
  padding: 20px;

  img {
    animation: slide;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 24px;
    max-width: 300px;
    transition: filter 400ms;
    filter: grayscale(0.4);
    &.horizontal {
      max-width: 400px;
      align-self: center;
    }

    &:hover {
      filter: none;
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1160px);
  }
  100% {
    transform: translateX(0);
  }
}
