#slide-show {
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 600px;

  img {
    width: 30%;
    max-width: 400px;
    min-width: 150px;
    left: 10vw;
    bottom: 3vh;
    border-radius: 8px;
    position: absolute;
    // transition: opacity 300ms, transform 700ms;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 24px;
  }
  img.horizontal-img {
    width: 40%;
    max-width: 600px;
    min-width: 200px;
  }
}
