#flower-banner {
  // width: 100%;
  // height: 8.9vw;
  // max-height: 100px;
  // background-image: url('Images/flower-banner.png');
  // background-size: cover;
  // background-position: 0% 100%;
  // background-size: 80%;
  width: 100%;
  overflow: hidden;
  display: flex;
  img.rotated {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
}
