#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;

  #intro {
    height: 90vh;
    display: flex;
    align-items: center;

    h1 {
      font-size: 8rem;
      color: #ffcca5;
      font-family: Tangerine;
      text-shadow: 2px 4px 3px rgb(51, 51, 51);
      text-align: center;
    }
  }

  #main-container {
    width: 100%;
    min-height: 70vh;
    max-height: 1000px;
    background-color: #ffffff;
    margin: 0 1rem;
    padding: 2rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      span {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 400;
      }
    }

    p {
      margin: 1rem;
      max-width: 800px;

      span#open-playlist {
        text-decoration: underline;
        & {
          cursor: pointer;
        }
      }
    }

    #heart-img {
      margin-top: 1rem;
      width: 90px;
      height: 90px;
      transition: transform 100ms;
      filter: invert(96%) sepia(37%) saturate(5738%) hue-rotate(296deg) brightness(108%) contrast(111%);

      &:hover {
        transform: rotate(-10deg);
        cursor: pointer;
      }
      &:active {
        transform: rotate(-10deg) scale(0.95);
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #main-content {
    #main-container {
      padding-left: 0rem;
      padding-right: 0rem;
      margin: 0 0.5rem;
    }
  }
}
