#slide-show {
  padding-top: 10rem;
  .image-container {
    position: absolute;
    transition: opacity 300ms, transform 700ms;
    width: 600px;
    height: 600px;
    max-width: 60vw;
    max-height: 60vw;
    // background-color: red;
    display: grid;
    place-content: center;

    img {
      max-width: 100%; /* or any custom size */
      max-height: 100%;
      // object-fit: contain;
      // border-radius: 8px;
      // box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 24px;
    }
  }
  // img.tossed {
  //   opacity: 1;
  //   transform: translateX(0) rotate(0);
  // }
}
