#playlist-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: grid;
  place-content: center;
  z-index: 3;
  pointer-events: none;
  background-color: transparent;
  transition: background-color 400ms;

  iframe {
    transition: transform 500ms;
    transform: translateY(130vh);
    width: 640px;
    border-radius: 8px;
  }

  &.show {
    pointer-events: all;
    background-color: #00000044;
    iframe {
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: 600px) {
  #playlist-modal {
    iframe {
      width: 300px;
    }
  }
}
